img {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
    object-fit: contain;
}
.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: static;
    top: 0;
    z-index: 100;
}
.header_searchicon {
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}
.header_search {
    display: flex;
    flex: 1;
}
.header_searchbar {
    height: 12px;
    padding: 10px;
    border: none;
    width : 100%;
}
.header_nav {
    display: flex;
    justify-content: space-evenly;
}
.header_link {
    color: white;
    text-decoration: none;
}
.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_option_lineone {
   font-size: 10px; 
}
.header_option_linetwo {
    font-size: 13px; 
    font-weight: 800;
 }
.header_optionbasket {
    display: flex;
    align-items: center;
}
.header_basketcount {
    position: absolute;
    top: 10px;
    right: 53px;
    color: rgb(240, 136, 4);
}
.header_basket {
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png");
    background-position: -10px -340px;
    background-size: 350px;
    overflow: hidden;
    height: 26px;
    width: 38px;
}
.header_cart_name {
    margin-top: 10px;
    margin-right: 10px;
}