.login_logo{
    background-image: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_2x-a3d92a134e6afaec4974bceac0812b73d0b635c1._V2_.png");
    background-size: 400px 750px;
    background-position: -5px -130px;
    width: 103px;
    height: 31px;
}
